[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "scGOclust"]
	path = scGOclust
	url = https://github.com/functional-genomics/scgoclust
	shallow = true
	registered = true
